.SdHeader {
    background-color: var(--palette-paper);

    & > div {
        gap: .375rem;
    }
}

.Layout-location {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Layout-navigation {
    position: relative;
    width: 100%;

    & .SdButton {
        border: solid 1px var(--palette-text);
    }

    & .SdLogo {
        height: 2.475rem;
        position: absolute;
        top: -.2rem;
        left: 2.75rem;
    }
}

