.sdui-container {
    width: 100%;
    max-width: var(--sd-max-width);

    @media (max-width: 780px) {
        padding: 0 1rem;
    }
}

.sdui-container-flex {
    display: flex;
}

.sdui-container-flex-row {
    flex-direction: row;
}

.sdui-container-flex-column {
    flex-direction: column;
}

.sdui-container-justify-center {
    justify-content: center;
}

.sdui-container-justify-spaced {
    justify-content: space-between;
}

.sdui-container-justify-start {
    justify-content: flex-start;
}

.sdui-container-justify-end {
    justify-content: flex-end;
}

.sdui-container-align-center {
    align-items: center;
}

.sdui-container-align-start {
    align-items: flex-start;
}

.sdui-container-align-end {
    align-items: flex-end;
}

.sdui-container-spacing-small {
    gap: var(--sd-spacing-p-1);
}

.sdui-container-spacing-medium {
    gap: var(--sd-spacing-p-2);
}

.sdui-container-spacing-large {
    gap: var(--sd-spacing-p-3);
}

.sdui-container-flex-1 {
    flex: 1;
}

.sdui-container-flex-2 {
    flex: 2;
}

.sdui-container-flex-3 {
    flex: 3;
}

.sdui-container-flex-4 {
    flex: 4;
}

.sdui-container-flex-5 {
    flex: 5;
}

.sdui-container-flex-6 {
    flex: 6;
}

.sdui-container-flex-7 {
    flex: 7;
}

.sdui-container-flex-8 {
    flex: 8;
}

.sdui-container-flex-9 {
    flex: 9;
}

.sdui-container-flex-10 {
    flex: 10;
}