.Sdui-PaperBox {
    padding: var(--spacing-1);
    background-color: var(--sd-palette-paper);
    color: var(--sd-palette-text);

    &.Sdui-PaperBox-variant-primary {
        box-shadow: .35rem .35rem 0 var(--sd-palette-primary);
    }

    &.Sdui-PaperBox-variant-secondary {
        box-shadow: .35rem .35rem 0 var(--sd-palette-secondary);
    }

    & .Sdui-Heading {
        color: var(--sd-palette-primary);
    }
}