.Editor-toolbar {
    background-color: var(--palette-background);

    display: flex;
    flex-direction: column;
    align-content: center;

    height: 100%;
    padding: .5rem .5rem;
    border-right: 1px solid var(--palette-shadow-light);
}