.AppBar-navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.AppBar-navigation .SdButton {
    border: solid 1px var(--palette-text);
}

.AppBar-navigation .SdLogo {
    height: 2.475rem;
    position: absolute;
    top: .575rem;
    left: 3.75rem;
}
