:root {
    --sd-max-width: 100%;
    --sd-spacing-p-1: 15px;
    --sd-spacing-p-2: 25px;
    --sd-spacing-p-3: 50px;
}

@media screen and (min-width: 780px) {
    :root {
        --sd-max-width: 780px;
    }
}

@media screen and (min-width: 1024px) {
    :root {
        --sd-max-width: 1024px;
    }
}

@media screen and (min-width: 1480px) {
    :root {
        --sd-max-width: 1480px;
    }
}

body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.sdui-page {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    color: var(--sd-palette-text);
    display: flex;
    flex-direction: column;
}

.sdui-page-content {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.sdui-page-background {
    position: absolute;
    overflow: hidden;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--sd-palette-background);

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.sdui-page-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: calc(var(--sd-spacing-p-1) / 2) var(--sd-spacing-p-1);
    color: var(--sd-palette-text-inverted);
    background-color: var(--sd-palette-primary);

    & .sdui-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    & .sdui-page-header-logo {
        & svg {
            height: 65px;
        }
    }
}

.sdui-page-footer {
    padding-top: var(--sd-spacing-p-3);
    color: var(--sd-palette-text-inverted);
    display: flex;
    flex-direction: column;

    & .sdui-page-footer-content {
        padding: var(--sd-spacing-p-2) 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--sd-palette-primary);
        gap: var(--sd-spacing-p-2);

        & .sdui-page-footer-catch {
            font-style: italic;
            font-size: 1.2rem;
            color: var(--sd-palette-secondary);
        }

        & .sdui-page-footer-cgu {
            font-size: 0.6rem;
        }

        & .sdui-container {
            z-index: 1;
        }
    }
}
