.SafariDigital-Text {
    font-family: var(--sd-font-text);
    font-size: var(--sd-font-text-size);
    font-weight: var(--sd-font-text-weight);
    color: var(--sd-palette-text);
}

.SafariDigital-H2 {
    font-family: var(--sd-font-heading);
}

.SafariDigital-Link {
    text-decoration: none;
}