.sdui-img {
    overflow: hidden;
    width: 100%;

    &.sdui-img-rounded {
        border-radius: 50%;
    }

    &.sdui-img-primary {
        box-shadow: .35rem .35rem 0 var(--sd-palette-primary);
    }

    &.sdui-img-secondary {
        box-shadow: .35rem .35rem 0 var(--sd-palette-secondary);
    }

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}