:root {
    --palette-primary: #eda600;
    --palette-primary-light: #ffcf33;
    --palette-text: #222222;
    --palette-text-disabled: #707070;
    --palette-background: #fcfcfc;
    --palette-background-disabled: #c0c0c0;
    --palette-paper: #f0f0f0;
    --palette-shadow: #00000050;
    --palette-shadow-light: #00000020;
}