.sdui-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: var(--sd-spacing-p-3) 0;
    color: var(--sd-palette-text-inverted);
    width: 100%;
}

.sdui-hero-primary {
    background-color: var(--sd-palette-primary);
}

.sdui-hero-secondary {
    background-color: var(--sd-palette-secondary);
}